.DS_Store
*.iws
*.class
tmp
classes
web/WEB-INF/classes
/modules
/test-result
/logs
/out
/lib
/precompiled
public/images/vertical_grid.png
solr/data
*.cfe
*.cfs
*.si
*.fdt
*.fdx
*.fnm
*.tvd
*.
*.
*.doc
*.tvf
*.tvx
*.pos
*.tim
*.tip
*.gen
index/segments_9
public/newsite/compass/.sass-cache

# Idea folder project related:

# User-specific stuff:
.idea/
node_modules
*.iml
public/dist/
