body {
  margin: 0 !important;
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  height: auto !important;
  width: auto !important;
}

body{
  background: none !important;
  position: static !important;
}

body:before {
  background: none !important;
}

*:focus {
  outline: 0 !important;
}

.roomname.active {
  font-weight: 600;
}

#thread_scrollparent {
  background: #fff;
}

#threadparent {
  padding-bottom: 71px;
}

li.chat-message-root:first-child {
  padding-top: 15px !important;
}

li.chat-message-root {
  padding-top: 5px !important;
}

li.chat-message-root-old {
  padding-top: 15px !important;
}

li.chat-message-root .message-body, li.chat-message-short .message-body, li.chat-message-server .message-body {
  padding-top: 0px;
  margin-top: 0px;
}

.unread-count-total{
  display: block;
  padding: 14px;
}

.unread-count-total b{
  font-size: 14px;
}
.unread-count-room{
  display: block;
  padding-top: 7px;
}

.flair-message-hack {
  margin-left: 1em;
}

.message-container {
  line-height: 18px;
  overflow: visible;
}

.username-container {
  display: inline;
}

.flair-container {
  display: inline;
  min-width: 3em;
  height: 100%;
  margin-left: 0.5em;
}

.flair-container.flair-scale-half .flair{
  transform: scale(0.5, 0.5);
  transform-origin: top left;
  position: absolute;
}

.flair-container.flair-scale-three-quarter .flair{
  transform: scale(0.75, 0.75);
  transform-origin: top left;
  position: absolute;
}

.flair-container.flair-scale-one-quarter .flair{
  transform: scale(0.25, 0.25);
  transform-origin: top left;
  position: absolute;
}

.nba .user-list-item .flair:hover {
  width: 33px !important;
  padding-right: 0px !important;
}
/* Autocomplete styles */

.suggestionsContainer {
  position: absolute;
  bottom: 44px;
  background: #fff;
  width: 50%;
  text-align: left;
  padding: 5px 0;
  border: 1px solid #3081B7;
  border-bottom: 1px solid #dee5e7;
}

.suggestion {
  padding: 5px 5px 5px 10px;
  list-style: none;
}

.suggestionFocused {
  background: #3081B7;
  color: #fff;
  font-weight: 600;
}


/* Message styles */
.message-box {
  position: relative;
  z-index: 1;
  width: 100%;
  display: table;
  padding: 5px;
  font-weight: 600;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  background: #3081B7;
  color: #dcf2f8;
  text-align: center;
}

.message-box.error {
  background: #E94F5F;
  color: #fff;
}

.message-body .username {
  font-weight: 600;
  color: #3081B7;
  background: #EDF1F2;
  border-radius: 10px;
  border: 1px solid #EDF1F2;
  padding: 0px 5px;
}

.message-body .username.username-me {
  background: #FFF2BB;
  border-radius: 10px;
  border: 1px solid #FFF2BB;
  padding: 0px 5px;
}

.roomlistentry .roomselect i.private-icon {
  margin-right: 2px;
}
.roomlistentry .roomselect i.private-icon:before {
  vertical-align: middle;
}

.link-info {
  border-left: 5px solid #CFDADD;
  padding-left: 10px;
  margin-bottom: 5px;
}

.link-info h5.title {
  font-weight: 600;
  margin: 5px 0;
}

.link-info a {
  color: #3081B7;
}

.link-too-big{
  color: #98A6AD;
}

.image-preview {
  max-width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 3px 3px;
}

.link-info .site {
  margin-bottom: 0;
  font-weight: 900;
  color: #555459;
}

.link-info .site a{
  color: #555459;
}

.link-info .site a:hover{
  text-decoration: underline;
}

#thread .username-container a {
  font-weight: 600;
  color: #4F5264;
  font-size: 15px
}

.link-collapse {
  color: #3081B7;
  margin-left: 5px;
  cursor: pointer;
}

.video {
  max-width: 100%;
  background: #EDF1F2;
}

.video.youtube {
  width: 400px;
  height: 300px;
}

.video .video-thumbnail {
  position: relative;
}

.video .video-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  background-color: rgba(0,0,0,.4);
  min-width: 150px;
  padding: 5%;
  border-radius: .7rem;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  font-size: 0rem;
  white-space: nowrap;
}

.video .video-button, .video .video-button a {
  font-size: 45px;
  color: #CCCDCF;
  display: inline-block;
}

.video .video-button:hover, .video .video-button a:hover{
  color: #fff;
  cursor: pointer;
}
.video .button-left {
  width: 30%;
  margin-left: 5%;
  text-align: left;
}

.video .button-right {
  width: 50%;
  margin-right: 5%;
  text-align: right;
}

.app-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.message-fetch-message {
  text-align: center;
  padding: 30px 0;
}

.message-fetch-message span.text-muted {
  font-style: italic;
}

.message-fetch-message a.more {
  color: #3081B7;
}

.message-fetch-message .divider {
  width: 10%;
  margin: 5px auto 0;
  border-bottom: 1px dashed #98a6ad;
}

.room-options{
  margin-left: 5px;
  color: #A6AEB2;
  cursor: default;
}

.room-options a:hover{
  text-decoration: underline;
  color: #4F5264;
}

#room-title {
  font-weight: 600;
  color: #4F5264;
}

.navi ul.nav li a.roomselect {
  padding: 5px 15px
}

.input-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.description {
  min-height: 1em;
  line-height: 1em;
}

.since:before {
  content: "\2022";
  margin: 0 .2em;
}

.karma {
  color: #777;
}
/* Subreddit Stylesheet fixes */

.navbar-header button, .navbar-header button:hover, .navbar-header button:active {
  background-color: transparent !important;
}

.bottom:after {
  content: none !important;
}

.hoverable:hover {
  cursor: pointer;
}

