.image-preview {
    display: inline-block;
    max-height: 200px;
    width: auto;
    vertical-align: middle;
}

.floatleft {
    float:left;
}

.fillwidth {
    width: 100%;
}

.p-t-s {
    padding-small: 4px !important;
}

.p-t-xs {
    padding-top: 2px !important;
}

.p-t-none {
    padding-top: 0px !important;
}

.p-b-xs {
    padding-bottom: 2px !important;
}

.last-message {
    padding-bottom: 15px;
}

.m-t-midxs {
    margin-top: 3px;
}

.padder-v-sm {
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-message {
    padding-top: 9px !important;
    height: 40px !important;
}
