#{extends 'main.html' /}
#{set title:'Chat room' /}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/reconnecting-websocket.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

<h1>${roomName} — You are now chatting as ${user.username} <a href="@{Application.index()}">Leave the chat room</a></h1>

<div id="thread">
    <script type="text/html" id="message_tmpl">
        <% if(event.type == 'message') { %>
            <div class="message <%= event.user.username == '${user.username}' ? 'you' : '' %>">
                <h2><%= event.user.username %></h2>
                <p>
                    <%= event.message.message %>
                </p>
            </div>
        <% } %>
        <% if(event.type == 'join') { %>
            <div class="message notice">
                <h2></h2>
                <p>
                    <%= event.user.username %> joined the room
                </p>
            </div>
        <% } %>
        <% if(event.type == 'leave') { %>
            <div class="message notice">
                <h2></h2>
                <p>
                    <%= event.user.username %> left the room
                </p>
            </div>
        <% } %>
        <% if(event.type == 'quit') { %>
            <div class="message important">
                <h2></h2>
                <p>
                    You are now disconnected!
                </p>
            </div>
        <% } %>
    </script>
</div>

<div id="newMessage">
    <input type="text" id="message" autocomplete="off">
    <input type="submit" value="send" id="send">
</div>

<script type="text/javascript">

    // Create a socket
    // var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;

    // See https://github.com/joewalnes/reconnecting-websocket for options:
    var socket = new ReconnectingWebSocket('@@{WebSocket.ChatRoomSocket.join(roomName)}')
    // socket.debug = true;

    // Ping socket
    setInterval(function() {
        if (socket.readyState == 1) {
            // console.log("Sending ping.");
            socket.send("##ping##");
        } else {
            console.log("Can't ping, connection not open.");
        }
    }, 10000);

    // Display a message
    var display = function(event) {
        $('#thread').append(tmpl('message_tmpl', {event: event}));
        $('#thread').scrollTo('max')
    }
    
    // Message received on the socket
    socket.onmessage = function(event) {
        console.log(event.data);
        var eventObj = JSON.parse(event.data);
//        var parts = /^([^:]+):([^:]+)(:(.*))?$/.exec(event.data)
        display(eventObj);
/*
        display({
            type: parts[1],
            user: parts[2],
            text: parts[4]
        })
*/
    }
    
    $('#send').click(function(e) {
        var message = $('#message').val()
        $('#message').val('')
        socket.send(message)
    });
    
    $('#message').keypress(function(e) {
        if(e.charCode == 13 || e.keyCode == 13) {
            $('#send').click()
            e.preventDefault()
        }
    })
    
</script>
