#{extends 'main.html' /}
#{set title:'Test Page' /}

<div id="home">

    <h2>Reddit chat test page</h2>
    #{if user}
    <p>Logged in user: ${user.username}</p>
    #{/if}

    <p><a href="@{WebSocket.room('breakerapp')}">breakerapp chat (eventual default)</a></p>
    <p><a href="@{WebSocket.room('webdev')}">webdev chat</a></p>
    <p><a href="@{WebSocket.room('hockey')}">hockey chat</a></p>
    <p></p>
    <p><a href="@{Application.testForceLogin()}">login as chattest1</a></p>
    <p><a href="@{Application.logout()}">logout</a></p>

</div>